BigData/exercises/streams/ITCompany/ITCompany_10000.txt
BigData/exercises/streams/itcompany_orig/ITCompany_10000.txt
BigData/exercises/streams/itcompany_orig/res2.csv
BigData/exercises/streams/itcompany_orig/res.csv
BigData/exercises/streams/itcompany_orig/ITCompany_10000.csv
BigData/exercises/streams/itcompany_orig/redo.csv
BigData/exercises/spark/firstExample/ITCompany_10000.csv
/Users/teodorosullazzo/Documents/git_repos/College-courses/BigData/exercises/mpi/python/mpi.csv
/Users/teodorosullazzo/Documents/git_repos/College-courses/BigData/exercises/mpi/python/seq.csv
redo.csv
ML/transformer/notebooks/translator
KR/Protege-5.5.0
