BigData/exercises/streams/ITCompany/ITCompany_10000.txt
BigData/exercises/streams/itcompany_orig/ITCompany_10000.txt
BigData/exercises/streams/itcompany_orig/res2.csv
BigData/exercises/streams/itcompany_orig/res.csv
